* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.home {
    background: linear-gradient(to right top, #CC95C0, #DBD4B4, #7AA1D2);
}

.about {
    background: linear-gradient(to right top, #CC95C0, #DBD4B4, #7AA1D2);
}

.project {
    background: linear-gradient(to right top, #DAE2F8, #D6A4A4);
}

.contact {
    background: linear-gradient(to right top, #CC95C0, #DBD4B4, #7AA1D2);
}

/* Style the nav bar*/
header {
    position: sticky;

}

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right top, #20002c, #cbb4d4);
    scroll-behavior: smooth;
    font-family: 'Cormorant', serif;

}

.logo h4 {
    display: block;
    padding: 8px;
    color: rgb(187, 163, 130);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 6px;
    font-size: xx-large;
    font-weight: 900;
}

.nav-links {
    color: rgb(187, 163, 130);
    width: 70%;
    justify-content: space-around;
    display: flex;
}


.nav-links li {
    list-style-type: none;
}

.nav-links a {
    display: block;
    padding: 8px;
    color: rgb(187, 163, 130);
    text-decoration: none;
    letter-spacing: 4px;
    font-size: xx-large;
    font-weight: 800;

}

.burger {
    display: none;
    cursor: pointer;
    color: linear-gradient(to right top, #1F1C2C, #928DAB);
}

.burger div {
    width: 25px;
    height: 1px;
    background-color: rgb(187, 163, 130);
    margin: 5px;
}


@media screen and (max-width:768px) {

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 5vh;
        background: linear-gradient(to right top, #1F1C2C, #928DAB);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s;

    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0);

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(-5px, -6px);
}


/* Stile section 1*/
.home {
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);



}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
}

img {
    width: 400px;
    height: 500px;
    display: flexbox;
    border-radius: 15px;
    box-shadow: #1F1C2C;
    box-shadow: 25px 25px 25px rgb(75, 31, 76);
}

.glass {
    width: 400px;
    height: 400px;
    margin-left: -5%;
    background-color: rgba(235, 17, 17, 0.1);
    backdrop-filter: blur(30px);
    border: 10px solid transparent;
    background-clip: border-box;
    box-shadow: 25px 25px 25px rgb(75, 31, 76);
    border-radius: 15px;




}

.glass h1 {
    display: flex;
    justify-content: center;
    padding: 8px;
    color: rgb(187, 163, 130);
    column-width: 200%;
    font-family: 'Cormorant', serif;
    text-decoration: none;
    letter-spacing: 6px;
    font-size: 300%;
    font-weight: 900;

}

.glass h2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: rgb(187, 163, 130);
    text-decoration: none;
    font-size: 200%;
    font-weight: 800;
    font-family: 'Cormorant', serif;
    margin-left: -20px;


}


.link a {
    display: inline-block;
    justify-content: right;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    backdrop-filter: blur(60px);
    color: black;
    padding: 20px 60px;
    font-family: 'Cormorant', serif;
    font-size: 150%;
    font-weight: 1000%;


}

/* Style the about section*/
.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant', serif;

}

.book {
    position: relative;
    width: 400px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: rgba(235, 17, 17, 0.1);
    backdrop-filter: blur(30px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.6s;
    border-radius: 10%;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid #1F1C2C;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 40px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #928DAB;
}

i {
    font-size: 50px;
    color: #1F1C2C;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}