* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #f6f1f1;
}

a {
    text-decoration: none;
    color: rgb(187, 163, 130)
}

ul {
    list-style: none;
}

/* Header */
header {
    border-bottom: 3px solid rgb(187, 163, 130);
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right top, #000000, #434343);

}

/* Logo */
.logo {
    color: rgb(187, 163, 130);
    font-size: 50px;
    font-weight: bolder;
    line-height: 90px;
    margin-left: 60px;
}

i.fa-bars {
    display: none;
}

/* Navigation Bar */
.list {
    height: 100%;
    display: flex;
}

.item {
    width: 200px;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 800;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item:before {
    position: absolute;
    content: '';
    top: 25%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: transparent;
    border-radius: 30px;
    transition: all 0.3s;
    z-index: -1;
}

.item:hover:before {
    background-color: rgb(187, 163, 130);
    transform: rotateY(180deg);
}

.item.active a {
    color: #434343;
}

.item:hover a {
    color: #434343;
}

/* Responsive Navigation Bar */
@media only screen and (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo {
        margin: 0;

    }

    .navbar {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .navbar.active {
        max-height: 400px;
    }

    .list {
        flex-direction: column;
        align-items: center;
    }

    .item {
        height: 50px;
        width: 50%;
    }

    .item:before {
        height: 100%;
        width: 100%;
        top: 0;
    }

    .item:hover:before {
        transform: rotateY(0deg);
    }

    i.fa-bars {
        display: block;
        position: absolute;
        font-size: 30px;
        top: 23px;
        right: 20px;
        cursor: pointer;
    }

    i.fa-bars:hover {
        color: rgb(187, 163, 130);
    }


}

/* Style the Home section*/
.home {
    height: 90vh;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    width: 90%;
}

#home-image {
    width: 300px;
    height: 400px;
    display: flexbox;
    border-radius: 10px;
    box-shadow: black;
    box-shadow: 25px 25px 25px rgb(0, 0, 0);
}

.glass {
    margin-top: 15%;
    width: 300px;
    height: 347px;
    margin-left: -6%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    border: 10px solid transparent;
    background-clip: border-box;
    box-shadow: 25px 25px 25px rgb(0, 0, 0);
    border-radius: 10px;

}

.glass h1 {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    color: rgb(11, 11, 10);
    column-width: 200%;
    font-family: 'Cormorant', serif;
    text-decoration: none;
    letter-spacing: 6px;
    font-size: 300%;
    font-weight: 900;

}

.glass h2 {
    display: flex;
    align-items: flex-start;
    padding: 30px;
    color: rgb(187, 163, 130);
    text-decoration: none;
    font-size: 200%;
    font-weight: 800;
    font-family: 'Cormorant', serif;
    margin-left: -20px;


}


.link a {
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    padding: 32%;
    font-family: 'Cormorant', serif;
    font-size: xx-large;
    font-weight: 900;


}

.col {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5rem;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-family: 'Cormorant', serif;
    font-size: x-large;
    font-weight: 600;

}

/*About Section */
.about {
    width: 100%;
    height: 100vh;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.box-a {
    flex: 2;
    margin-left: 15%;

}

.box-b {
    flex: 1;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: black;
    box-shadow: 25px 25px 25px rgb(0, 0, 0);

}

#linkproject {
    display: flex;
    align-items: center;
    font-family: 'Cormorant', serif;
    font-size: xx-large;



}




#linkproject {
    text-align: center;
    color: #000000;
}

#video-about {
    display: flex;
    box-shadow: black;
    box-shadow: 25px 25px 25px rgb(0, 0, 0);

}

/*Project section*/
.project {
    width: 100%;
    height: 100vh;
}

.flex-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    background: #eeebeb;
    flex-wrap: wrap;
}

.box-a h2,
p {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant', serif;
    color: rgb(7, 7, 6);
    font-weight: bolder;

}

/* Project*/
.project {
    width: 100%;
    height: 90vh;
}

.project h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cormorant', serif;
    color: rgb(7, 7, 6);
    font-weight: bolder;

}

.carousel-item {
    height: 80vh;
    width: 90%;
    margin-left: 5%;
}


/* Style the contact section*/
.contact {

    height: 40vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contact h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cormorant', serif;
    color: rgb(19, 16, 13);
    font-weight: bolder;

}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}